/*
.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;

}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: arial, sans-serif;
  margin:0;
  color: black;
}

.card .card-text{
  font-family: arial, sans-serif;
  color: black;
}

*/

.student{
  font-family: ariel, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;
}

.student p{
  margin: 0;
}

.welcome-message{
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  margin: 0;
  color:brown;
  border: 1px solid black;
  text-align: center;
}

.logIn-message{
  font-size: 2.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: chartreuse;
  margin: 0;
  color: darkblue;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;

}

.list-name{
  text-align: center;
  font-size: 2.5em;
  border: 1px solid rgb(112, 86, 67);
  border-radius: 5px;
  color: blue;
  background-color: antiquewhite;
  margin-bottom: 10px;
}

.list-items{
  text-align: center;
  list-style: none;
  margin: 0;
}

.list-items:hover{
  cursor: pointer;
  color:burlywood;
}

.div-class{
  text-align: center;
  margin: 0 auto;
  background-color: rgb(99, 162, 218);
  width: 1500px;
  border-radius: 10px;
  padding-top: 20px;
}

.btn-class{
  background-color: chartreuse;
  border-radius: 5px;
  margin: 20px;
  height: 40px;
}

.p-class{
  margin: 20px auto;
  width: 200px;
  font-size: large;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;

  background-color: azure;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin:50px;
  font-size: 3rem;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

/*body{
  background-image: url('./src/assets/nature1.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

  justify-content: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.clock{
  color:beige;
  backdrop-filter: blur(5px);
  font-size: 10em;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*/

.box{
  border: 1px solid black;
  text-align: center;
  background-color: aquamarine;
  padding: 25px;
}

.box p{
  font-size: 15px;
}